
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Dashboard/Views/Shared/_LayoutPage.cshtml";
}

<h2>Ana Sayfa</h2>
<br />
<br />

<a class="btn btn-primary" href="/Dashboard/Users/Users" role="button">Kullanıcı İşlemleri</a>
<a class="btn btn-success" href="/Dashboard/Category/Category" role="button">Kategori İşlemleri</a>
<a class="btn btn-danger" href="/Dashboard/Post/Post" role="button">Gönderi İşlemleri</a>
<a class="btn btn-dark" href="/Dashboard/Post/Post" role="button">Yorum İşlemleri</a>

