@using BLOG.DAL.Entities
@model IEnumerable<Post>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_SiteLayoutPage.cshtml";
}

<h2>Home</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    foreach (var item in Model)
    {
        <div class="post-preview">
            <a href="/SiteHome/">
                <h2 class="post-title">
                    @item.Title
                </h2>
            </a>
            <p class="post-meta">
                Posted by
                <a href="#">Start Bootstrap</a>
                on September 18, 2018
            </p>
        </div>
    }

}

